*~
__pycache__
/build
/libs
/pkg
/sourceme.*
/testset.cfg
/tools
/apps/
/env/
/examples/
/rtl/
/tests/
/runtime/archi-analog/
/runtime/boot_code/
/runtime/boot_code_arnold/
/runtime/boot_code_gap/
/runtime/boot_code_gap8_revc/
/runtime/boot_code_gap_rev1/
/runtime/boot_code_multino/
/runtime/boot_code_pulp/
/runtime/boot_code_pulp_v1/
/runtime/boot_code_pulpissimo/
/runtime/boot_code_vega/
/runtime/boot_code_vivosoc3_1/
/runtime/boot_code_wolfe/
/runtime/gap_archi/
/runtime/hal-analog/
/runtime/libgomp/
/runtime/oprecomp_capi/
/runtime/pulp-rt-analog/
/runtime/pulp-rt-bare/
/doc/

